.signup-container {
    text-align: center;
}


.signup-content {
    background: #fff;
    box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
    border-radius: 2px;
    width: 400px;
    display: inline-block;
    margin-top: 30px;
    vertical-align: middle;
    position: relative;
    padding: 35px;
}

.social-btn {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 15px;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-top: 10px;
}

.social-btn.google {
    margin-top: 20px;
}

.social-btn.google img {
    height: 30px;
    margin-left: 3px;
    margin-top: 1px;
}

.social-btn.facebook img {
    height: 25px;
    margin-left: 3px;
    margin-top: 4px;
}

.login-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 13px;
}

.signup-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.65);
}

.firstname-control {
    margin: 0;
    padding: 0;
    margin-left: -2px;
    margin-right: 10px;
    list-style: none;
    display: inline-block;
    padding: 4px 11px;
    width: 158px;
    height: 35px;
    font-size: 0.87em;
    line-height: 35px;
    color: rgba(0,0,0,.80);
    background-color: #fff;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    transition: all .3s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.lastname-control {
    margin: 0;
    padding: 0;
    margin-left: 0px;
    margin-right: 0px;
    list-style: none;
    display: inline-block;
    padding: 4px 11px;
    width: 162px;
    height: 35px;
    font-size: 0.87em;
    line-height: 35px;
    color: rgba(0,0,0,.80);
    background-color: #fff;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    transition: all .3s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.leftform-control {
    margin: 0;
    padding: 0;
    margin-left: -1px;
    margin-right: 10px;
    list-style: none;
    display: inline-block;
    padding: 4px 11px;
    width: 67%;
    height: 35px;
    font-size: 0.87em;
    line-height: 35px;
    color: rgba(0,0,0,.80);
    background-color: #fff;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    transition: all .3s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.rightform-control {
    margin: 0;
    padding: 0;
    margin-left: 0px;
    list-style: none;
    display: inline-block;
    padding: 4px 11px;
    width: 30%;
    height: 35px;
    font-size: 0.87em;
    line-height: 35px;
    color: rgba(0,0,0,.80);
    background-color: #fff;
    background-image: none;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    transition: all .3s;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.error-message {
    color: red;
    margin-bottom: 5px;
    float: left;
    font-size: 0.87em;
}