html, body {
    background-image: url('../resources/restaurant.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.s-alert-box {
    min-width: 250px;
}

.s-alert-close::before, .s-alert-close::after {
    width: 2px;
}