<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
</head>
<body>
	
	<div>
	RESTAURANT SIGN UP
<form class="modal-content" method="post" th:action="@{addServiceProvider}" th:object = ${ServiceProvder}  enctype="multipart/form-data" >
	Restaurant Name<input type="text" id="restaurant_name" name="restaurant_name" required><br>
	Email<input type="email" id="email" name="email" required><br>
	Password<input type="password" id="password" name="password" required><br>
	City<input type="text" id="city" name="city" required><br>
	State							<select name="state">
									<option value="CA">CA</option>
                                </select><br>
	Cuisine type           <select name="cuisine_typ">
                                    <option value="American">American</option>
                                    <option value="Chinese">Chinese</option>
                                    <option value="Continental">Continental</option>
                                    <option value="Indian">Indian</option>
                                    <option value="Mexican">Mexican</option>
                                </select><br>
    Total Tables <input type="text" id="total_tables" name="total_tables" required><br>
    Total Ocuupancy<input type="text" id="total_occupancy" name="total_occupancy" required><br>
	<button>Submit</button>
</form>
</div>

</body>
</html>